---
import { ClientRouter } from 'astro:transitions';
import '../styles/global.css';
import '../styles/katex.css';

interface Props{
    title: string,
    description: string
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const{ title, description } = Astro.props;

/**
 * TODO:
 * 1. webmanifest
 * 2. image cards
 * 3. apple touch icon 
 * 4. sitemap 
 * 5. mask icon 
 * 6. msapplication-tilecolor
 */
---
<head>
    <ClientRouter />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="Max Lewis" />
    <meta name="keywords" content="blog, astro, software, movies, music, programming, technology" />
    <meta name="google" content="notranslate"/>
    <meta name="generator" content={Astro.generator} />

    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:site_name" content="Max Lewis's Blog" />
    <meta property="og:description" content={description} />

    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/svg" href="favicon.ico" />
    <link rel="icon" type="image/svg" href="/favicon.ico" />
    <link rel="canonical" href={canonicalURL} />


    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
</head>