---
import LeftAngle from "./icons/LeftAngle.astro";
import RightAngle from "./icons/RightAngle.astro";
import LeftAngles from "./icons/LeftAngles.astro";
import RightAngles from "./icons/RightAngles.astro";

const { page } = Astro.props;

const INACTIVE_STYLES = "pointer-events-none text-slate-500 border-slate-500";
const ACTIVE_STYLES = "pointer-events-auto text-slate-300";

const prevPage = page.currentPage - 1 > 0 ? page.currentPage - 1 : null;
const nextPage = page.currentPage + 1 <= page.lastPage ? page.currentPage + 1 : null;

const prevDisabled = prevPage ? ACTIVE_STYLES : INACTIVE_STYLES;
const nextDisabled = nextPage ? ACTIVE_STYLES : INACTIVE_STYLES;
let previousArrowFill = prevPage ? "fill-white" : "fill-slate-500";
let nextArrowFill = nextPage ? "fill-white" : "fill-slate-500";

const firstDisabled = page.currentPage === 1 ? INACTIVE_STYLES : ACTIVE_STYLES;
const lastDisabled = page.currentPage === page.lastPage ? INACTIVE_STYLES : ACTIVE_STYLES;
let firstArrowFill = page.currentPage === 1 ? "fill-slate-500" : "fill-white";
let lastArrowFill = page.currentPage === page.lastPage ? "fill-slate-500" : "fill-white";
---
<div class="flex flex-row items-center justify-center gap-4 text-xl pt-12 w-1/2 flex-wrap place-self-center -lg:w-3/4 -sm:w-[95%]">
    <div class="flex flex-row gap-4">
        <a href={`/posts/${1}`} class={`button ${firstDisabled}`}>
            <LeftAngles class={`w-6 h-6 ${firstArrowFill}`} />First
        </a>
        <a href={`/posts/${prevPage}`} class={`button ${prevDisabled}`} href={`/posts/${prevPage}`}>
            <LeftAngle class={`w-6 h-6 ${previousArrowFill}`} />Prev
        </a>
    </div>
    {Array.from({length: page.lastPage}).map((_, i) => (
        <a href={`/posts/${i + 1}`} class={`text-slate-300 p-2 rounded-xl hover:bg-slate-500 ${i + 1 === page.currentPage ? "border pointer-events-none" : ""}`}>{i + 1}</a>
    ))}
    <div class="flex flex-row gap-4">
        <a href={`/posts/${nextPage}`} class={`button ${nextDisabled}`}>
            Next <RightAngle class={`w-6 h-6 ${nextArrowFill}`} />
        </a>
        <a href={`/posts/${page.lastPage}`} class={`button ${lastDisabled}`}>
            Last <RightAngles class={`w-6 h-6 ${lastArrowFill}`} />
        </a>
    </div>
</div>

<style>
    @reference "../styles/global.css";
    .button{
       @apply flex flex-row items-center gap-2 border p-2 pr-4 pl-4 rounded-xl text-sm hover:bg-slate-500 
    }
</style>