---
import dateFormat from "dateformat";
import readingTime from "reading-time";

const { slug, title, description, tags, pubDate, author } = Astro.props;

const { body } = Astro.props;
---

<a class="text-slate-300 bg-slate-800 rounded-xl shadow-lg transform hover:-translate-y-2 delay-100 duration-300 w-2/3" href={`/post/${slug}`}>
    <div class="text-left flex flex-col p-4 gap-2">
        <p class="text-3xl">{title}</p>
        <p class="">{description}</p>
        <div class="flex flex-row gap-2">
            <p>{author}</p>
            <p>|</p>
            <p>{dateFormat(pubDate, "UTC:mmmm dS, yyyy")}</p>
            <p>|</p>
            <p>{Math.round(readingTime(body).minutes)} min read</div></p>
        <div class="flex flex-row gap-2">
            {tags.map((tag: string) => 
                <span class="text-purple-500"># {tag}</span>
            )}
        </div>
    </div>
</a>