---
import getMinutes from "../utils/getMinutes";
import dateFormat from "dateformat";

const { slug, title, description, tags, pubDate, image: { url, alt } } = Astro.props;

const { body } = Astro.props;
---

<a class="text-slate-300 h-max col-span-4 md:col-span-2 2xl:col-span-1" href={`/post/${slug}`}>
    <div class="shadow-lg transform hover:-translate-y-2 delay-100 duration-300">
        <img src={url} alt={alt}/>
        <div class="flex flex-col bg-slate-800 text-center p-4">
            <p class="text-3xl mb-1">{title}</p>
            <p class="mb-3">{description}</p>
            <p>{dateFormat(pubDate, "UTC:mmmm dS, yyyy")}</p>
            <p>{getMinutes(body).time} · {getMinutes(body).minute}</p>
            <p class="">{tags.map((tag: string) => tag).join(' ')}</p>
        </div>
    </div>
</a>