---
import LeftArrow from "../components/icons/LeftArrow.astro";
import RightArrow from "../components/icons/RightArrow.astro";
const { prevPost, nextPost } = Astro.props;

const INACTIVE_STYLES = "pointer-events-none text-slate-500 border-slate-500";

const previousDisabled = prevPost ? "pointer-events-auto" : INACTIVE_STYLES;
const nextDisabled = nextPost ? "pointer-events-auto" : INACTIVE_STYLES;
const previousArrowFill = prevPost ? "fill-white" : "fill-slate-500";
const nextArrowFill = nextPost ? "fill-white" : "fill-slate-500";
---
<div class="flex flex-row w-full justify-center">
    <div class="flex flex-row w-2/3 gap-4 justify-center items-center -md:flex-col -md:w-full">
        <a href={prevPost ? `/post/${prevPost.data.slug}` : ""} class={`group flex flex-row items-center border rounded-xl hover:bg-slate-500 w-1/2 -sm:w-3/4 h-full p-2 ${previousDisabled}`}>
            <LeftArrow class={`w-16 pl-4 pr-4 ${previousArrowFill}`}/>
            <div class="overflow-hidden whitespace-nowrap truncate w-full mr-2">
                {prevPost && <div class="pt-1">Previous Post</div>}
                <span>{prevPost ? prevPost.data.title : "Newest Post!"}</span>
            </div>
        </a>
        <a href={nextPost ? `/post/${nextPost.data.slug}` : ""} class={`group flex flex-row items-center border rounded-xl hover:bg-slate-500 w-1/2 -sm:w-3/4 h-full p-2 ${nextDisabled}`}>
            <div class="truncate text-ellipsis w-full ml-2">
                {nextPost && <div class="">Next Post</div>}
                <span>{nextPost ? nextPost.data.title : "Oldest Post!"}</span>
            </div>
            <RightArrow class={`w-16 pl-4 pr-4 ${nextArrowFill}`} />
        </a>
    </div>
</div>