---
import MainLayout from "./MainLayout.astro";
import { Image } from "astro:assets";
import dateFormat from "dateformat";
import me from '../../public/images/me-small.jpg'
import LeftArrow from "../components/LeftArrow.astro";
import UpArrow from "../components/UpArrow.astro";
import RightArrow from "../components/RightArrow.astro";
let {
    content: {
        title,
        description, 
        tags,
        author,
        pubDate,
        image: {
            url,
            alt
        },
    },
    nextPrevious:{
        previousPost,
        nextPost
    }
} = Astro.props;
let previousVisibility = previousPost ? "visible" : "invisible";
let nextVisibility = nextPost ? "visible" : "invisible";
---
<MainLayout title={title}>
    <div class="flex flex-col gap-4">
        <div class="flex flex-row w-full justify-center">
            <div class="flex flex-row w-2/3 justify-between">
                <a href={previousPost ? `/post/${previousPost.data.slug}` : ""} class={`group flex flex-col items-center border rounded-3xl hover:bg-slate-500 max-w-24 ${previousVisibility}`}>
                    <LeftArrow class={"fill-white w-16 h-16 pt-4 pl-4 pr-4"}/>
                    <div x-data="{}"
                    x-init="$nextTick(() => {
                        let span = $refs.title;
                        span.insertAdjacentHTML('afterend', span.outerHTML);
                        span.nextSibling.setAttribute('aria-hidden', 'true');
                    })" class="overflow-hidden whitespace-nowrap w-full pt-2 pl-2 pb-4">
                        <div x-ref="title" class="inline-block transform group-hover:animate-scroll pr-1">
                            <span>{previousPost ? previousPost.data.title : ''}</span>
                            <span>·</span>
                        </div>
                    </div>
                </a>
                <a href={nextPost ? `/post/${nextPost.data.slug}` : ""} class={`group flex flex-col items-center border rounded-3xl hover:bg-slate-500 max-w-24 ${nextVisibility}`}>
                    <RightArrow class={"fill-white w-16 h-16 pt-4 pl-4 pr-4"} />
                    <div x-data="{}"
                    x-init="$nextTick(() => {
                        let span = $refs.title;
                        span.insertAdjacentHTML('afterend', span.outerHTML);
                        span.nextSibling.setAttribute('aria-hidden', 'true');
                    })" class="overflow-hidden whitespace-nowrap w-full pt-2 pl-2 pb-4">
                        <div x-ref="title" class="inline-block transform group-hover:animate-scroll pr-1">
                            {nextPost ? nextPost.data.title : ''}
                            <span>·</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="prose prose-light"><h1>{title}</h1></div>  
        <div class="flex flex-row items-center self-center md:self-start border w-max p-4 mb-6 rounded-lg shadow-lg border-purple-900">
            <Image class="rounded-full mr-4 w-20 h-20" src={me} alt="me"/>
            <div class="flex flex-col">
                <p>{author}</p>
                <p>{dateFormat(pubDate, "UTC:mmmm dS, yyyy")}</p>
            </div>
        </div>
    </div>
    <div class="body-text prose prose-light pb-24 flex flex-col items-center">
        <p>
            {tags.map((tag: string) => 
                <a href={`/tag/${tag}`} class="text-purple-900 hover:underline">#{tag}</a>
            )}
        </p>
        <p><em>{description}</em></p>
        <img class="rounded-md w-[600px]" src={url} alt={alt}/>
        <slot/>
    </div>
</MainLayout>
<button id="scrollTopBtn" class="fixed right-4 bottom-4" onclick="window.scrollTo({top: 0, behavior: 'smooth'})">
    <UpArrow class={"fill-white w-16 h-16 border p-4 rounded-3xl hover:bg-slate-500"}/>
</button>
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
