---
import MainLayout from "./MainLayout.astro";
import { Image } from "astro:assets";
import dateFormat from "dateformat";
import me from '../../public/images/me-small.jpg'
import LeftArrow from "../components/icons/LeftArrow.astro";
import UpArrow from "../components/UpArrow.astro";
import RightArrow from "../components/icons/RightArrow.astro";
import readingTime from "reading-time";
import Tag from "../components/Tag.astro";
import TableOfContents from "../components/TableOfContents.astro";

let {
    content: {
        title,
        description, 
        tags,
        author,
        pubDate,
        image: {
            url,
            alt
        },
        updatedDate,
    },
    nextPrevious:{
        previousPost,
        nextPost
    },
    body,
    headings
} = Astro.props;
let previousDisabled = previousPost ? "pointer-events-auto" : "pointer-events-none text-slate-500 border-slate-500";
let nextDisabled = nextPost ? "pointer-events-auto" : "pointer-events-none text-slate-500 border-slate-500";
let previousArrowFill = previousPost ? "fill-white" : "fill-slate-500";
let nextArrowFill = nextPost ? "fill-white" : "fill-slate-500";
---
<MainLayout title={title}>
    <div class="flex flex-col gap-4 items-center text-center w-1/2 place-self-center">
        <Image layout="responsive" width={750} height={500} inferSize={true} src={url} alt={alt}/>
        <div class="prose prose-light"><h1>{title}</h1></div>  
        <p><em>{description}</em></p>
        <div class="w-full flex flex-col items-center gap-8">
            <div class="flex flex-row items-center">
                <div class="flex flex-row items-center gap-2">
                    <Image class="rounded-full w-8 h-8" src={me} alt="me"/>
                    <p>{author}</p>
                    <p>|</p>
                    <p>{dateFormat(pubDate, "UTC:mmmm dS, yyyy")}</p>
                    <p>|</p>
                    <p>{Math.round(readingTime(body).minutes)} min read</p>
                </div>
            </div>
            {updatedDate && <p><em>Updated {dateFormat(updatedDate, "UTC:mmmm dS, yyyy")}</em></p>}
            <div class="flex flex-row w-full justify-center">
                <div class="flex flex-row w-2/3 gap-4 justify-center">
                    <a href={previousPost ? `/post/${previousPost.data.slug}` : ""} class={`group flex flex-row items-center border rounded-xl hover:bg-slate-500 w-1/2 h-full p-2 ${previousDisabled}`}>
                        <LeftArrow class={`w-16 pl-4 pr-4 ${previousArrowFill}`}/>
                        <div class="overflow-hidden whitespace-nowrap truncate w-full mr-2">
                            {previousPost && <div class="pt-1">Previous Post</div>}
                            <span>{previousPost ? previousPost.data.title : "Newest Post!"}</span>
                        </div>
                    </a>
                    <a href={nextPost ? `/post/${nextPost.data.slug}` : ""} class={`group flex flex-row items-center border rounded-xl hover:bg-slate-500 w-1/2 h-full p-2 ${nextDisabled}`}>
                        <div class="truncate text-ellipsis w-full ml-2">
                            {nextPost && <div class="">Next Post</div>}
                            <span>{nextPost ? nextPost.data.title : "Oldest Post!"}</span>
                        </div>
                        <RightArrow class={`w-16 pl-4 pr-4 ${nextArrowFill}`} />
                    </a>
                </div>
            </div>
        </div>
        <div class="flex flex-row flex-wrap gap-4 w-3/4 justify-center pt-4 pb-4">
            {tags.map((tag: string) => 
                <Tag tag={tag} disabled={"pointer-events-auto"}/>
            )}
        </div>
        <div class="flex flex-row gap-8 w-[150%] place-self-center">
            <aside class="w-1/4 h-full flex flex-col">
                <TableOfContents headings={headings}/>
            </aside>
            <div class="body-text prose prose-light flex flex-col w-1/2 text-start">
                <slot/>
            </div>
        </div>
    </div>
</MainLayout>
<button id="scrollTopBtn" class="fixed right-4 bottom-4" onclick="window.scrollTo({top: 0, behavior: 'smooth'})">
    <UpArrow class={"fill-white w-16 h-16 border p-4 rounded-3xl hover:bg-slate-500"}/>
</button>