---
import MainLayout from "./MainLayout.astro";
const { frontmatter } = Astro.props;
import dateFormat from "dateformat";
---
<MainLayout title={frontmatter.title}>
    <div class="prose prose-light flex flex-col items-center mb-10">
        <h1 class="">{frontmatter.title}</h1>
        <p class="text-lg">{dateFormat(frontmatter.pubDate, "mmmm dS, yyyy")}</p>
        <p class="text-lg"><em>{frontmatter.description}</em></p>
        <p class="text-lg">{frontmatter.author}</p>
        <img class="rounded-md w-[600px]" src={frontmatter.image.url} alt={frontmatter.image.alt} />
        <slot/>
    </div>
</MainLayout>